Source: golang-golang-x-sys
Maintainer: Vyatta Package Maintainers <DL-vyatta-help@att.com>
Section: golang
Testsuite: autopkgtest-pkg-go
Priority: optional
Build-Depends: debhelper (>= 12~),
               dh-golang (>= 1.17~),
               golang-any
Standards-Version: 4.5.1
Homepage: http://golang.org/x/sys
Rules-Requires-Root: no
XS-Go-Import-Path: golang.org/x/sys

Package: golang-golang-x-sys-dev
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends},
         ${shlibs:Depends}
Description: Low-level interaction with the operating system
 This repository holds supplemental Go packages for low-level interactions with
 the operating system.
 .
 The primary use of this package is inside other packages that provide a more
 portable interface to the system, such as "os", "time" and "net". Use those
 packages rather than this one if you can.
